
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <form th:action="dsfsdfsdf" method="post" th:object="${sdfsdf}">
               
                <div>
                    <input type="text" name="pregunta" value="55"   />
                   <input type="radio" name="pregunta" value="fgfgf" />             
                   <input type="radio" name="pregunta" value="fgfgfg" th:text="Respuesta"/> 
                   <input type="radio" name="pregunta" value="fgfgf"/>
              
                </div>
           
            </form>   
        <br/>
        <br/>
        
        <table>
            <tr></tr>
            
            
        </table>
            
     
    </body>
</html>
